{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/sebalbum/css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/tracker/bootstrap.min.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/angular.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/sebalbum/js/app.js')}}"></script>
{% endblock %}

{% verbatim %}
<div ng-app="collection" class="container">
    <div  ng-controller="CollectionController
                                as
                                collection"style="padding: 5px 5px"  class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="thumbnail">
                <a ng-click="collection.desc()" class="fleche previous" href="" ></a>
                <a ng-click="collection.inc()" class="fleche next" href="" ></a>
                <img  class="img-thumbnail" ng-src="{{collection.product[collection.i].img_path}}" alt="XIII" width="425px" height="310px"/>
                <div class="caption">
                    <h3 class="titre"> 
                                {{collection.product[collection.i].titre}}  
                                {{collection.product[collection.i].possede}}/{{collection.product[collection.i].total}}
                    </h3>
                    <section ng-controller="PanelController
                                                        as
                                                        panel">
                        <ul class="nav nav-pills">
                            <li ng-class="{active: panel.isSelected(1)}">
                                <a ng-click="panel.selectTab(1)" href="#"> Infos </a>
                            </li>
                            <li ng-class="{active: panel.isSelected(2)}">
                                <a ng-click="panel.selectTab(2)" href="#"> 
                                    <span class="glyphicon glyphicon-cog"></span> Modifier 
                                </a>
                            </li>
                            <li ng-class="{active: panel.isSelected(3)}">
                                <a ng-click="panel.selectTab(3)" href="#">
                                    <span class="glyphicon glyphicon-plus"></span>Ajouter 
                                </a>
                            </li>
                        </ul>    

                        <!-- Onglets -->

                        <!-- Onglet général (Affiché par défaut) --> 
                        <div ng-show="panel.isSelected(1)">    
                            <div ng-show="collection.product[collection.i].nextRelease">
                                Prochaine sortie: {{collection.product[collection.i].nextRelease}}
                            </div>
                            <div ng-show="collection.estFini(collection.product[collection.i].fini)">
                                <span class="label label-danger"> Série terminée </span>  
                            </div>
                            <div ng-show="collection.estAJour(collection.product[collection.i].possede,
                                                                        collection.product[collection.i].total)">
                                <span class="label label-success"> A jour</span> 
                            </div> <br/>
                        </div>
                        <!-- Onglet Parametre -->
                        <div ng-show="panel.isSelected(2)"
                             ng-controller="ParameterController
                                                                         as
                                                                         Parameter" >
                            <h4> Réglages </h4>
                            <div class="btn-group">
                                <button ng-hide="collection.estAJour(collection.product[collection.i].possede,
                                                                            collection.product[collection.i].total)" 
                                        ng-click="Parameter.addTomePossede(collection.product[collection.i])" 
                                        type="button" class="btn btn-default"> 
                                    Ajout tome 
                                </button>
                                <button ng-hide="collection.estVide(collection.product[collection.i].possede)"
                                        ng-click="Parameter.removeTomePossede(collection.product[collection.i])"
                                        type="button" class="btn btn-default"> 
                                    Retirer tome 
                                </button>
                                <button ng-click="Parameter.addTome(collection.product[collection.i])" 
                                        type="button" class="btn btn-default"> 
                                    Augmenter total 
                                </button>
                                <button ng-hide ="collection.unTome(collection.product[collection.i].total)" 
                                        ng-click="Parameter.removeTome(collection.product[collection.i])" 
                                        type="button" class="btn btn-default"> 
                                    Retirer total 
                                </button>
                            </div>
                        </div>  
                        <!-- Onglet ajout tomes -->
                        <div ng-show="panel.isSelected(3)">
                            <form name="tomeForm"
                                  ng-controller="FormController as form"
                                  ng-submit="tomeForm.$valid && form.addNewAlbum()"
                                  novalidate>
                                <div class="form-group">
                                    <label for="titreInput"> Titre </label>
                                    <input id="titreInput" ng-model="form.tome.titre"class="form-control" type="text" required/>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="possedeInput"> Tome(s) possedé(s) </label>
                                        <input id="possedeInput" ng-model="form.tome.tomePossede" class="form-control" type="number" min="1" required/>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="totalInput"> Nombre total de tomes </label>
                                        <input id="totalInput" ng-model="form.tome.tomeTotal" class="form-control" type="number" min="1" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="imgInput"> Image </label>
                                    <input id="imgInput" ng-model="form.tome.image" class="form-control" required />
                                </div>    
                                <div class="form-group">
                                    <label for="termineeInput"> Série terminée </label>
                                    <input id="termineeInput"  ng-model="form.tome.terminee" type="checkbox" value="1" />
                                </div>   
                                <div>
                                    <button type="submit" class="btn btn-primary center-block" ng-class="{disabled:!tomeForm.$valid}" >Ajouter</button>
                                </div>
                            </form>
                        </div>
                        <!-- Fin onglets -->

                        <div ng-show="collection.error == true" class="alert alert-danger text-center" role="alert"> 
                            <strong> {{collection.error_text}} </strong>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endverbatim %}