{% extends "SebTrackerBundle:Default:layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2> Compte </h2>
        </div>
        <!-- Affichage par mois -->
        <div class="btn-group">
            {% for statss in stats2 %}
                <button type="button" class="btn btn-default"> {{statss.mois}}/{{statss.annee}}</button>
            {% endfor %}
        </div>
        <div class="row row-padding">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Date </th>
                            <th> Opération </th>
                            <th> Type</th>
                            <th> Montant</th>
                        </tr>
                    </thead>
                    {% for operation in operations %}
                        <tr {%if operation.debit == true %} class="danger" {% else %} class="success" {% endif %} >
                            <td> {{operation.date|date('d/m/Y')}}    </td>
                            <td> {{operation.libelle}} </td>
                            <td> {{operation.type}}    </td>
                            <td> {{operation.montant}}€ </td>
                        </tr>
                    {% endfor%}   
                    <tfoot>
                    <td></td>
                    <td class="danger" >Total debit: <strong> {{stats.totalDebit}} </strong></td>
                    <td class="success">Total crédit: <strong> {{stats.totalCredit}} </strong></td>
                    <td>Total <strong> {{stats.totalCredit - stats.totalDebit}}</td>
                    </tfoot>
                </table>
                <div id="add-operation">
                    <!-- Formulaire ajout -->
                    <h2> Ajout </h2>
                    <form  method="post" {{ form_enctype(form) }}>
                        {{form_widget(form)}}
                        <input type="submit" class="btn btn-primary" />
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}